.about-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  .image-wrapper {
    justify-self: center;
    align-self: center;
    background-image: url("../../static/images/about-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 335px;
  }

  .text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
      padding-right: 80px;
      padding-left: 80px;
      text-align: center;
      font-size: 1.2rem;
      line-height: 25px;
      letter-spacing: 1px;
    }
  }
}
