*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Alegreya Sans", sans-serif;
  color: white;
}

h1 {
  font-family: "Playfair Display SC", serif;
  color: white;
}

.container {
  display: flex;
  // flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: black;

  .app-wrapper {
    width: 100%;
  }

  .page-content {
    margin-top: 60px;
  }
}
