.blog-container {
  position: absolute;
  z-index: -1;
  background-color: black;
  width: 100%;
  .image {
    object-fit: cover;
  }

  .react-photo-gallery {
    position: relative;
    z-index: 0;
  }
}
