@mixin contact-message {
  transition: 1s ease-in-out;
  font-size: 2rem;
  color: $off-white;
  text-shadow: 3px 3px black;
  margin-bottom: 20px;
}

.contact-wrapper {
  border-top: 5px solid black;
  position: relative;
  .contact-background {
    opacity: 0.6;
    background-image: url("../../static/images/Contact-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
  }

  .contact-title {
    text-shadow: 3px 3px black;
    padding-top: 60px;
    font-size: 3rem;
    margin-bottom: 50px;
    margin-left: 190px;
    align-self: flex-start;
    margin-left: 10%;
  }

  .contact-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    .form-wrapper {
      width: 80%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      .three-column {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
      }

      .two-column {
        margin: 20px 0px 20px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      .input-field {
        width: 100%;
        border-bottom: 2px solid $off-white;
        border-right: none;
        border-left: none;
        border-top: none;
        box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.75);

        background-color: rgba(255, 255, 255, 0);
        font-size: 2rem;
        color: $off-white;
        text-shadow: 3px 3px black;
        border-radius: 3px;
        outline: none;
      }

      .warning {
        transition: 0.5s ease-in-out;
        background-color: rgba(179, 58, 58, 0.7);
      }

      .input-field::placeholder {
        color: $off-white;
      }

      .input-field:-webkit-autofill,
      .input-field:-webkit-autofill:hover,
      .input-field:-webkit-autofill:focus,
      .input-field:-webkit-autofill:active,
      .input-field:-webkit-autofill:visited {
        -webkit-text-fill-color: #fff !important;
        transition: background-color 200000s ease-in-out 0s;
      }

      textarea {
        width: 100%;
        font-size: 2rem;
        height: 150px;
        background-color: transparent;
        border: 2px solid $off-white;
        color: $off-white;
        text-shadow: 3px 3px black;
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);

        &:focus {
          outline: none;
        }
      }

      textarea::placeholder {
        color: $off-white;
      }

      .submit-button-message-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
          margin-top: 20px;
          font-size: 2rem;
          margin-bottom: 20px;
          width: 129px;
          height: 49px;
          align-self: center;
          background-color: black;
          color: $off-white;
          border: none;
          transition: 0.2s ease-in-out;
          border: 2px solid $off-white;
          box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);

          &:hover {
            border: 2px solid black;
            background-color: $off-white;
            color: black;
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
        }

        .contact-message-show {
          opacity: 1;
          @include contact-message;
        }

        .contact-message-hidden {
          opacity: 0;
          @include contact-message;
        }
      }
    }
  }
}
