.blog-container {
  position: relative;
  z-index: 0;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  .image {
    object-fit: cover;
    transition: 0.5s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }

  .react-photo-gallery {
    position: relative;
    z-index: 0;
  }

  .session-title-blog-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
      color: $off-white;
      margin-bottom: 30px;
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .loader {
    height: 100vh;

    .spinner {
      color: $off-white;
    }
  }
}
