.blog-container {
  position: absolute;
  z-index: -1;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  .image {
    object-fit: cover;
  }

  .react-photo-gallery {
    position: relative;
    z-index: 0;
  }

  .session-title-blog-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
      color: $off-white;
      margin-bottom: 30px;
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .session-nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-top-right-radius: 20px;
    button {
      font-size: 2.5rem;
      background-color: black;
      border: none;
      color: $off-white;
      transition: 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        color: grey;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
