.page-content {
  .hero-gradient-wrapper {
    .hero-background {
      height: 535px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-image: url("../../static/images/_MG_2412-Edit.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      img {
        width: 350px;
        height: 310px;
      }
    }

    .gradient-overlay {
      width: 100%;
      height: 400px;
      background-image: linear-gradient(transparent, black);
      position: absolute;
      bottom: 271px;
      z-index: 5;
    }
  }

  .featured-session {
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .title {
      font-size: 4rem;
      color: black;
      text-align: center;
    }

    .session-link {
      color: $off-white;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      width: 129px;
      height: 49px;
      font-size: 2rem;
      background-color: black;
      border: 3px solid black;
      transition: 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: black;
        background-color: $off-white;
      }
    }
  }

  .about-wrapper {
    border-bottom: 5px solid white;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      color: $off-white;
    }

    p {
      color: $off-white;
      text-align: center;
      margin: 41px;
    }
  }
}
