@media (min-width: 48em) {
  .hamburger-wrapper {
    display: none !important;
  }

  .nav-link {
    display: flex !important;
  }

  .nav-wrapper {
    height: 60px;
  }

  .divider {
    display: flex !important;
  }

  .nav-bar-drop-down-wrapper {
    display: none !important;
  }

  .hero-background {
    background-position: center !important;
    height: 100vh !important;

    img {
      width: 768px !important;
      height: 562px !important;
    }
  }

  .featured-session {
    background-attachment: fixed !important;
    .title {
      font-size: 5rem !important;
    }
  }

  .about-wrapper {
    h1 {
      font-size: 3rem !important;
    }
    .about-content-wrapper {
      p {
        font-size: 2rem;
      }
      ul {
        flex-direction: row !important;

        li {
          font-size: 2rem !important;
        }
      }
    }
  }

  .investment-wrapper {
    p {
      margin: 100px !important;
    }
  }
}
