@media (min-width: 48em) {
  .hamburger-wrapper {
    display: none !important;
  }

  .nav-link {
    display: flex !important;
  }

  .nav-wrapper {
    height: 60px;
  }

  .divider {
    display: flex !important;
  }

  .nav-bar-drop-down-wrapper {
    display: none !important;
  }

  .hero-background {
    background-position: center !important;
    height: 100vh !important;

    img {
      width: 768px !important;
      height: 562px !important;
    }
  }

  .gradient-overlay {
    bottom: -60px !important;
  }

  .featured-session {
    .title {
      font-size: 5rem;
    }
  }

  .about-wrapper {
    .about-content-wrapper {
      ul {
        flex-direction: row !important;
      }
    }
  }

  .investment-wrapper {
    p {
      margin: 100px !important;
    }
  }
}
