@media (min-width: 48em) {
  .hamburger-wrapper {
    display: none !important;
  }

  .nav-wrapper {
    height: 60px;

    .nav-link {
      display: flex !important;
    }

    .divider {
      display: flex !important;
    }
  }

  .contact-link {
    display: flex !important;
  }

  .nav-bar-drop-down-wrapper {
    display: none !important;
  }

  .hero-background {
    background-position: center !important;
    height: 100vh !important;

    img {
      width: 768px !important;
      height: 562px !important;
    }
  }

  .featured-session {
    background-attachment: fixed !important;
    .title {
      font-size: 5rem !important;
    }
  }

  .about-wrapper {
    h1 {
      font-size: 3rem !important;
    }
    .about-content-wrapper {
      p {
        font-size: 2rem;
      }
      ul {
        flex-direction: row !important;

        li {
          font-size: 2rem !important;
        }
      }
    }
  }

  .investment-background {
    background-image: url("../../static/images/Investment-Background.jpg") !important;
    height: 1100px !important;
  }

  .investment-content {
    width: 40% !important;
    margin-left: 200px !important;
    align-items: flex-start !important;
    .fee-left {
      font-size: 2rem !important;
      margin-top: 70px !important;
    }

    .fee-right {
      margin-top: 70px !important;
    }

    .investment-title {
      font-size: 4rem !important;
    }

    p {
      width: 100% !important;
      margin-top: 70px !important;
      margin-left: 0px !important;
      text-align: left !important;
    }
  }

  .about-page-wrapper {
    img {
      width: 85% !important;
      height: 80% !important;
    }
  }
}

@media (min-width: 1050px) {
  .about-page-wrapper {
    grid-template-columns: 1fr 1fr !important;
    height: calc(100vh - 60px);

    p {
      text-align: left !important;
    }
  }
}

@media (max-width: 768px) and (min-width: 48em) {
  .investment-content {
    margin-left: 135px !important;
  }
}

@media (max-width: 48em) {
  .contact-wrapper {
    .contact-background {
      height: 1140px !important;
    }

    h1 {
      align-self: center !important;
      margin-left: 0px !important;
      margin-bottom: 55px !important;
    }
  }

  .form-wrapper {
    width: 70% !important;
    margin-bottom: 0px !important;
    .two-column {
      grid-template-columns: 1fr !important;

      input {
        margin-top: 10px !important;
      }
    }

    .three-column {
      grid-template-columns: 1fr !important;

      input {
        margin-top: 10px !important;
      }
    }

    textarea {
      margin-top: 10px !important;
    }

    button {
      margin-top: 40px !important;
    }
  }
}
