@mixin link {
  text-decoration: none;
  color: $off-white;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  border-radius: 1px;

  &:hover {
    color: grey;
    cursor: pointer;
  }

  &:active {
    transition: none;
    color: black;
  }
}
