.nav-bar-drop-down-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: black;
}

.bar {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  button {
    background-color: black;
    border: none;

    .nav-link-dropdown {
      @include link;
    }
  }
}

.bar-bottom {
  height: 70px;

  .nav-link-dropdown {
    position: relative;
    bottom: 10px;
  }
}
