.fixed-nav-bar {
  position: fixed;
  width: 100%;
}

.nav-wrapper {
  height: 60px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;

    .nav-link {
      display: none;

      a {
        @include link;
      }
    }

    .divider {
      display: none;
      color: white;
      font-size: 1.5rem;
      cursor: default;
    }
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: black;
      border: none;
      height: 19px;
      width: 19px;

      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .hamburger {
      color: white;
      height: 100%;
      width: 100%;
      transition: 0.5s ease-in-out;
      &:hover {
        color: grey;
      }
    }
  }
}
