.fixed-nav-bar {
  position: fixed;
  z-index: 7;
  width: 100%;
}

.nav-wrapper {
  height: 70px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;

    .divider {
      display: none;
      color: $off-white;
      font-size: 1.5rem;
      cursor: default;
      user-select: none;
    }
  }

  .contact-link {
    display: none;
    @include link;
    background-color: black;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: black;
      border: none;
      height: 25px;
      width: 25px;

      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .hamburger {
      color: $off-white;
      height: 100%;
      width: 100%;
      transition: 0.3s ease-in-out;
      &:active {
        transition: none !important;
        color: black;
      }
    }
  }
}

.nav-link {
  display: none;
  a {
    @include link;
  }
}

.nav-link-active {
  border-bottom: 1px solid $off-white !important;

  &:hover {
    border-bottom: 1px solid grey !important;
  }
}

.sessions-hover-arrow {
  padding-left: 3px;
}

.sessions-hover-hidden {
  position: relative;
  bottom: 68px;
  z-index: -5;
  transition: 0.5s ease-in-out;
}

.sessions-hover-show {
  position: relative;
  z-index: 10;
  bottom: 0px;
  transition: 0.5s ease-in-out;
}

.sessions-hover {
  width: 242px;
  margin-left: 487px;
  background-color: black;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  .hover-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 83px;

    a {
      @include link;
    }
  }
}
