.fixed-nav-bar {
  position: fixed;
  z-index: 7;
  width: 100%;
}

.nav-wrapper {
  height: 70px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;

    .nav-link {
      display: none;
      a {
        @include link;
      }
    }

    .divider {
      display: none;
      color: $off-white;
      font-size: 1.5rem;
      cursor: default;
      user-select: none;
    }
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: black;
      border: none;
      height: 25px;
      width: 25px;

      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .hamburger {
      color: $off-white;
      height: 100%;
      width: 100%;
      transition: 0.3s ease-in-out;
      &:active {
        transition: none !important;
        color: black;
      }
    }
  }
}

.nav-link-active {
  border-bottom: 1px solid $off-white !important;

  &:hover {
    border-bottom: 1px solid grey !important;
  }
}
